/* Custom Theme Stylesheet */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,800,700italic);

body {
	background: #011627;
	color: #FDFFFC;
	font-family: 'Open Sans', sans-serif;
}

::-moz-selection { background: #00171F;}
::selection { background: #00171F; }

h1, h2, h3, h4, h5, h6{
	margin: 0px;
}

.wrapper{
	height: 80vh;
	display: flex;
    align-items: center;
    justify-content: center; 
}

.navbar-default {
    background: none;
    border: none;
}

.navbar-brand {
	padding: 25px 15px;
}

.navbar-default .navbar-nav>li>a {
    color: #FDFFFC;
    font-weight: 700;
    margin-top: 10px;
}

.navbar-default .navbar-nav>li.social>a {
    padding: 0px 5px;
    margin-top: 25px;
}

.navbar-default .navbar-nav>li>a img{
    width: 14px;
    height: 14px;
}


.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #FDFFFC;
    text-decoration: underline;
    background-color: transparent;
}

.navbar-default .navbar-brand {
    color: #FDFFFC;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 14px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #FDFFFC;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: none;
}

.navbar-default .navbar-toggle {
    border: none;
    margin-top: 20px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FDFFFC;
}

section.main{
	background: #028090;
	padding: 15px 0px;
	height: 65px;
}

#article-link button{
	background: none;
	border: none;
	float: right;
	margin-top: 10px;
	font-size: 16px;
	font-weight: 900;
}

#article-link .form-control {
	background: none;
	border: none;
	color: #FFFFFF;
	border-radius: 0px;
	box-shadow: none;
	-webkit-box-shadow: none;
}


#article-link input{
	font-size: 18px;
	font-weight: 700;
}

#article-link input::-webkit-input-placeholder {
	color: #FFFFFF !important;
}
 
#article-link input:-moz-placeholder {
	color: #FFFFFF !important;  
}
 
#article-link input::-moz-placeholder {  /* Firefox 19+ */
	color: #FFFFFF !important;  
}
 
#article-link input:-ms-input-placeholder {  
	color: #FFFFFF !important;  
}

.width-fix{
	width: 100%;
}

@media (max-width: 768px) {
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    	background: #01101c;
    	border: none;
	}
}